

.page-wrapper {
  margin: 0 30%;
  font-family: helvetica, sans-serif;
}


.main-heading {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  align-items: flex-end;
}

.title-and-movecount {
  display: flex;
  flex-direction: column;
}

.movecount {
  font-size: 1.5em;
}

.how-to-play {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  height: 80px;
  width: 80px;
  background-color: violet;
  border-radius: 5px;
  color: #333;
  position: relative;
}

.rules {
  background: lightblue;
  padding: .1em 1.1em;
  border-radius: 5px;
  position: absolute;
  top: 125px;
  max-width: 400px;
}


.container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  position: relative;
  /*top: -124px;*/
  z-index: -1;
}

[data-stack] {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  height: 500px;
  min-width: 100px;
  background-color: mistyrose;
  margin: 25px;
}

[data-block] {
  height: 25px;
}

[data-block="25"] {
  width: 25px;
  background-color: blue;
  border-radius: 10px;
}

[data-block="50"] {
  width: 50px;
  background-color: green;
  border-radius: 10px;
}

[data-block="75"] {
  width: 75px;
  background-color: red;
  border-radius: 10px;
}

[data-block="100"] {
  width: 100px;
  background-color: yellow;
  border-radius: 10px;
}

#announce-game-won {
  font-size: 50px;
  text-align: center;
}
